<app-header></app-header>
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Login</h2>
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="contact.html">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
    
        <div class="vh-50 d-flex justify-content-center align-items-center">
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                  <div class="border border-3 border-primary"></div>
                  <div class="card bg-white">
                    <div class="card-body p-5">
                      <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onLogin()">
                   
                        <p class=" mb-3">Please enter your login and password!</p>
                        <div class="mb-1">
                          <label for="email" class="form-label ">Email address</label>
                          <input type="email" name ="Password"formControlName="Email" [(ngModel)]="formModel.Email" class="form-control" id="email" placeholder="name@example.com">
                          <div *ngIf="itemForm.controls['Email'].invalid && (itemForm.controls['Email'].dirty || itemForm.controls['Email'].touched)"
                          class="ng-dirty">
                          <span *ngIf="itemForm.controls['Email'].errors">
                            <span class="text-danger">Please Enter Email .</span>
                          </span>
                        </div>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label ">Password</label>
                          <input type="password" name="Password"  formControlName="Password" [(ngModel)]="formModel.Password" class="form-control" id="password" placeholder="*******">
                          <div *ngIf="itemForm.controls['Password'].invalid && (itemForm.controls['Password'].dirty || itemForm.controls['Password'].touched)"
                          class="ng-dirty">
                          <span *ngIf="itemForm.controls['Password'].errors">
                            <span class="text-danger">Please Enter Password .</span>
                          </span>
                        </div>
                        </div>
                        <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>
                        <div class="d-grid">
                          <button class="btn primary-btn" type="submit">Login</button>
                        </div>
                      </form>
                   
                      <div *ngIf="showError" class="alert alert-danger" role="alert">
                        {{errorMessage}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>
<!--================Contact Area =================-->
<app-footer></app-footer>