<app-header></app-header>
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Manage User Accounts</h2>
                        <div class="page_link">
                            <a>Account Teachers</a>
                            <a href="#">home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <form class="form_area" id="myForm" [formGroup]="itemForm" >
            <div class="row">
              <div class="col-lg-12 form_group">
                <input type="hidden" formControlName="password"  [(ngModel)]="formModel.password" >
                <input type="hidden" formControlName="sessionId"  [(ngModel)]="formModel.sessionId" >
                <input type="hidden" formControlName="departmentId"  [(ngModel)]="formModel.departmentId" >
                <input type="hidden" formControlName="isActive"  [(ngModel)]="formModel.isActive" >
                <input type="hidden" formControlName="loginId"  [(ngModel)]="formModel.loginId" >
                
                <div class="row mb-2">
                    <div class="col-md-4">
                        <input name="firstName" formControlName="firstName" [(ngModel)]="formModel.firstName"
                        placeholder="First Name" required="" class="form-control"  type="text" />
                      <div *ngIf="itemForm.controls['firstName'].invalid && (itemForm.controls['firstName'].dirty || itemForm.controls['firstName'].touched)"
                        class="ng-dirty">
                        <span *ngIf="itemForm.controls['firstName'].errors">
                          <span class="text-danger">Please Enter first Name .</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <input name="lastName" formControlName="lastName" class="form-control" [(ngModel)]="formModel.lastName"
                        placeholder="Last Name" required="" type="text" />
                        <div *ngIf="itemForm.controls['lastName'].invalid && (itemForm.controls['lastName'].dirty || itemForm.controls['lastName'].touched)"
                        class="ng-dirty">
                        <span *ngIf="itemForm.controls['lastName'].errors">
                          <span class="text-danger">Please Enter Last Name .</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <input name="mobile" formControlName="mobile" [(ngModel)]="formModel.mobile"
                        placeholder="Your Phone Number" class="form-control" required="" type="tel" />
                        <div *ngIf="itemForm.controls['mobile'].invalid && (itemForm.controls['mobile'].dirty || itemForm.controls['mobile'].touched)"
                        class="ng-dirty">
                        <span *ngIf="itemForm.controls['mobile'].errors">
                          <span class="text-danger">Please Enter Last Name .</span>
                        </span>
                      </div>
                    </div>
                </div>
             
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input name="email" class="form-control" formControlName="email" [(ngModel)]="formModel.email"
                        placeholder="Your Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                        required="" type="email" />
                        <div *ngIf="itemForm.controls['email'].invalid && (itemForm.controls['email'].dirty || itemForm.controls['email'].touched)"
                        class="ng-dirty">
                        <span *ngIf="itemForm.controls['email'].errors">
                          <span class="text-danger">Please Enter Email .</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" formControlName="userType"  [(ngModel)]="formModel.userType">
                            <option value="null">Choose User Type</option>
                            <option value="Admin">Admin</option>
                            <option value="Teacher">Teacher</option>
                        </select>
                        <div *ngIf="itemForm.controls['userType'].invalid && (itemForm.controls['userType'].dirty || itemForm.controls['userType'].touched)"
                        class="ng-dirty">
                        <span *ngIf="itemForm.controls['userType'].errors">
                          <span class="text-danger">Please select Type .</span>
                        </span>
                      </div>
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <input placeholder="Address" name="address" class="form-control" formControlName="address" [(ngModel)]="formModel.address">
                    </div>
                </div>
              </div>
          
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button type="button" (click)="onRegister()" class="btn btn-primary w-100">Submit</button>
                </div>
                <div class="col-md-2">
                    <button  (click)="reset()"  class="btn btn-default w-100">Reset</button>
                </div>
               
              </div>
              
              <br>
              <div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
              <div *ngIf="showMessage" class="alert alert-success w-100" role="alert">
                {{responseMessage}}
              </div>
          </form>

        <div class="table-responsive">
            <table class="table table-bordered">
                <th>Name</th>  
                <th>Email</th>  
                <th>Mobile</th>  
                <th>Address</th>
                <th>User Type</th>               
                <th>Action</th>       
         
                <tbody>
                    <tr *ngFor="let val of userList">
                     <td>{{val.firstName}}{{val.lastName}}</td>     
                     <td>{{val.email}}</td>     
                     <td>{{val.mobile}}</td>     
                     <td>{{val.address}}</td>   
                     <td>{{val.userType}}</td>                    
                     <td style="width: 20%;">
                        <button (click)="edit(val)" class="btn btn-warning w-100">Edit</button>
                       
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
     
    </div>
</section>
<!--================Contact Area =================-->
<app-footer></app-footer>
